/* www.jmercadier.fr
* @author Jean Mercadier
*/

@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 700;
	src: local("Montserrat-Bold"), url("http://fonts.gstatic.com/s/montserrat/v6/IQHow_FEYlDC4Gzy_m8fcmaVI6zN22yiurzcBKxPjFE.woff2") format("woff2"), url("http://fonts.gstatic.com/s/montserrat/v6/IQHow_FEYlDC4Gzy_m8fcnbFhgvWbfSbdVg11QabG8w.woff") format("woff");
}

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Light"), local("Roboto-Light"), url("http://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfZBw1xU1rKptJj_0jans920.woff2") format("woff2"), url("http://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfbO3LdcAZYWl9Si6vvxL-qU.woff") format("woff");
}

body,
html {
	margin: 0;
	border: 0;
	padding: 0;
}

body {
	background-color: white;
	color: #222;
	font: 300 14px/1.8 "Roboto","Helvetica","lucida grande",sans-serif,sans-serif;
	text-transform: capitalize;
}
